@page "/presentation"

<SlideLayoutComponent>
    <SlideTitleFragment>
        <SlideTitle Title="Présentation" />
    </SlideTitleFragment>
    <SlideBodyFragment>
        <div class="row">
            <div class="col-md-12">
                <pre style="margin: 0em; overflow: auto; background-color: #ffffff;"><code style="font-family: Consolas, &quot;Courier New&quot;, Courier, Monospace; font-size: 10pt; color: #000000;"><span style="color: #0000ff;">var</span> bracketShow = <span style="color: #0000ff;">new</span> List&lt;Speaker&gt; {
    <span style="color: #0000ff;">new</span> Speaker { 
        Name = <span style="color: #a31515;">"Eric De Carufel"</span>,
        Email = <span style="color: #a31515;">"edecarufel@pyxis-studio.com"</span>,
        Roles = <span style="color: #0000ff;">new</span> [] { <span style="color: #a31515;">"Développeur"</span>, <span style="color: #a31515;">"Architecte"</span>, <span style="color: #a31515;">"Team Lead"</span> },
        Awards = <span style="color: #a31515;">"Microsoft MVP 2009-2018"</span>
    },
    <span style="color: #0000ff;">new</span> Speaker { 
        Name = <span style="color: #a31515;">"Bruno Barrette"</span>,
        Email = <span style="color: #a31515;">"bbarrette@pyxis-studio.com"</span>, 
        Roles = <span style="color: #0000ff;">new</span> [] { <span style="color: #a31515;">"Développeur"</span>, <span style="color: #a31515;">"Superviseur de stage"</span> },
        Awards = <span style="color: #0000ff;">await</span> GetAwardAsync() 
    }
};</code></pre>
            </div>
        </div>
        
    </SlideBodyFragment>
</SlideLayoutComponent>

