.presentation-page {
  width: 82%;
  height: 100%;
  position: absolute;
}
.section-page .section-title {
  background-color: #2d2e2f;
  height: 95%;
  text-align: center;
  display: table;
  width: 95%;
}
.section-page .section-title h1 {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: table-cell;
}
.section-page .section-side {
  height: 95%;
  background-color: #ce1d20;
}
.slide-page .slide-title {
  background-color: #2d2e2f;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
}
.slide-page .slide-title h1 {
  margin-top: 10px;
}
.slide-page .slide-content {
  font-size: 48px;
  margin-top: 10px;
  height: 85%;
}
.slide-page .slide-content .conclusion-demo {
  font-size: 24px;
}
.slide-page .slide-content ul {
  padding-left: 23px;
}
.slide-page .slide-content ul li {
  display: block;
}
.slide-page .slide-content ul li:before {
  content: '\e099';
  font-family: 'Icons';
  font-size: 36px;
  float: left;
  margin-top: 8px;
  margin-left: -36px;
  margin-right: 8px;
  color: #ce1d20;
}
.slide-page .slide-content pre {
  font-size: 32px;
}
.slide-element-hidden {
  opacity: 0;
  visibility: hidden;
}
.slide-element-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
h1 {
  color: #FFFFFF;
  font-size: 60px;
}
.img-fluid {
  max-height: 175px;
}
.img-how-it-works {
  width: 95%;
}
