@layout MainLayout
@inherits BlazorLayoutComponent

<div class="row presentation-page slide-page">
    @SlideTitleFragment

    <div class="col-md-12 slide-content">
        @SlideBodyFragment
    </div>
</div>

@functions
{
    [Parameter]
    RenderFragment SlideTitleFragment { get; set; }

    [Parameter]
    RenderFragment SlideBodyFragment { get; set; }
}
