@import '../Styles/variables.less';

.presentation-page {
    width: 82%;
    height: 100%;
    position: absolute;
}

.section-page {
    .section-title {
        background-color: @mainColor;
        height: 95%;
        text-align: center;
        display: table;
        width: 95%;
    }

    .section-side {
        height: 95%;
        background-color: @sideColor;
    }
}

.slide-page {
    .slide-title {
        background-color: @mainColor;
        height: 15%;
        text-align: center;
        vertical-align: middle;
        display: table;
        width: 100%;

        h1 {
            margin-top: 10px;
        }
    }
}



h1 {
    color: @mainTextColor;
    font-size: 60px;
}

.presentation-navigation {
    button {
        visibility: hidden;
    }
}