@import '../Styles/variables.less';

body{
    overflow: hidden;
}

.presentation-page {
    width: 82%;
    height: 100%;
    position: absolute;
}

.section-page {
    .section-title {
        background-color: @mainColor;
        height: 95%;
        text-align: center;
        display: table;
        width: 95%;
        
        h1 {
            margin: 0;
            padding: 0;
            vertical-align: middle;
            display: table-cell;
        }
    }

    .section-side {
        height: 95%;
        background-color: @sideColor;
    }
}

.slide-page {
    .slide-title {
        background-color: @mainColor;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        display: table;
        width: 100%;

        h1 {
            margin-top: 10px;
        }
    }

    .slide-content {
        font-size: 48px;
        margin-top: 10px;
        height: 85%;

        .conclusion-demo {
            font-size: 24px;
        }

        ul {
            padding-left: 23px;

            li {
                display: block;

                &:before {
                    content: '\e099';
                    font-family: 'Icons';
                    font-size: 36px;
                    float: left;
                    margin-top: 8px;
                    margin-left: -36px;
                    margin-right: 8px;
                    color: @sideColor;
                }
            }
        }

        pre {
            font-size: 30px;
        }
    }
}

.slide-element-hidden {
    opacity: 0;
    visibility: hidden;
}

.slide-element-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

h1 {
    color: @mainTextColor;
    font-size: 60px;
}

.img-fluid {
    max-height: 175px;
}

.img-how-it-works {
    width: 95%;
}