@page "/pourquoi-blazor/1"

<SlideLayoutComponent>
    <SlideTitleFragment>
        <SlideTitle Title="Développeur Full Stack"/>
    </SlideTitleFragment>
    <SlideBodyFragment>
        Hello from a fragment
        <div>

        </div>
    </SlideBodyFragment>
</SlideLayoutComponent>