@page "/comment-fonctionne/before-web-assembly"

<SlideLayoutComponent>
    <SlideTitleFragment>
        <SlideTitle Title="Un peu d'histoire..."/>
    </SlideTitleFragment>
    <SlideBodyFragment>
        <div class="row">
            <div class="col-md-12 centered-image">
                <img src="images/history.png"/>
            </div>
        </div>
    </SlideBodyFragment>
</SlideLayoutComponent>