@page "/comment-fonctionne/blazor/{section:int}"

<SlideLayoutComponent>
    <SlideTitleFragment>
        <SlideTitle Title="Comment ça fonctionne..."/>
    </SlideTitleFragment>
    <SlideBodyFragment>
        <div class="row">
            <div class="col-md-6">
                <BulletListComponent Section="@Section" Elements="@_interpretedElements" />
            </div>
            <div class="col-md-6 text-center">
                <img src="images/interpreted-mode.png" class="img-how-it-works" />
            </div>
        </div>
    </SlideBodyFragment>
</SlideLayoutComponent>

@functions
{
    [Parameter]
    int Section { get; set; }

    private readonly Dictionary<int, string> _interpretedElements = new Dictionary<int, string>
    {
        {1, "Le navigateur peut exécuter le <i>runtime</i> Mono grâce à WebAssembly." },
        {2, "Le <em>runtime</em> Mono peut alors charger et exécuter notre code netstandard, qui a été compilé tout à fait normalement." }
    };
}
