@page "/comment-fonctionne/web-assembly"

<SlideLayoutComponent>
    <SlideTitleFragment>
        <SlideTitle Title="L'arrivée de WebAssembly (WASM)"/>
    </SlideTitleFragment>
    <SlideBodyFragment>
        Hello from a fragment
        <div>

        </div>
    </SlideBodyFragment>
</SlideLayoutComponent>