@page "/comment-fonctionne/web-assembly"

<SlideLayoutComponent>
    <SlideTitleFragment>
        <SlideTitle Title="L'arrivée de WebAssembly (WASM)"/>
    </SlideTitleFragment>
    <SlideBodyFragment>
        <div class="row">
            <div class="col-md-12">
                <img src="images/wasm.png" />
            </div>
        </div>
    </SlideBodyFragment>
</SlideLayoutComponent>